@model OnlineBankingApp.Models.Transfer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderAccount.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverAccount.AccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
