@model IEnumerable<OnlineBankingApp.Models.Advisor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientsNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdvisorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvisorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdvisorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientsNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdvisorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdvisorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdvisorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
